shinar_lead_gen_workflow.json
{
  "name": "Lead Generation — Portfolio Contact Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Get in Touch",
        "formDescription": "Tell me about your project or opportunity. I'll respond within 24 hours.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Your full name"
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true,
              "placeholder": "you@company.com"
            },
            {
              "fieldLabel": "Company / Organisation",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Optional"
            },
            {
              "fieldLabel": "I'm interested in",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Hiring / Graduate Role" },
                  { "option": "Freelance Automation Project" },
                  { "option": "Consulting / Workflow Audit" },
                  { "option": "Collaboration / Open Source" },
                  { "option": "Something else" }
                ]
              }
            },
            {
              "fieldLabel": "Budget Range (if applicable)",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  { "option": "Under $500" },
                  { "option": "$500 – $2,000" },
                  { "option": "$2,000 – $5,000" },
                  { "option": "$5,000+" },
                  { "option": "Not applicable" }
                ]
              }
            },
            {
              "fieldLabel": "Tell me more",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe what you're building, the problem you want solved, or the role you're filling…"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-form-trigger",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "shinar-lead-form-001"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst lead = {\n  name:        data['Full Name'] || '',\n  email:       data['Email Address'] || '',\n  company:     data['Company / Organisation'] || 'Not provided',\n  interest:    data[\"I'm interested in\"] || '',\n  budget:      data['Budget Range (if applicable)'] || 'Not provided',\n  message:     data['Tell me more'] || '',\n  submitted_at: new Date().toISOString(),\n  source:      'Portfolio Contact Form'\n};\n\nreturn [{ json: lead }];"
      },
      "id": "node-format",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "adetunjimuhammed26@gmail.com",
        "subject": "=New Lead: {{ $json.interest }} — {{ $json.name }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:560px;margin:0 auto;\">\n  <div style=\"background:#0d1117;padding:20px 24px;border-radius:8px 8px 0 0;\">\n    <p style=\"color:#00E5A0;font-size:12px;letter-spacing:0.1em;text-transform:uppercase;margin:0;\">Shinar Automation · New Lead</p>\n    <h2 style=\"color:#F0F0EE;margin:8px 0 0;font-size:20px;\">{{ $json.name }}</h2>\n    <p style=\"color:#9A9B99;margin:4px 0 0;font-size:14px;\">{{ $json.email }}{% if $json.company != 'Not provided' %} · {{ $json.company }}{% endif %}</p>\n  </div>\n  <div style=\"background:#14161A;padding:20px 24px;border-radius:0 0 8px 8px;border:1px solid rgba(255,255,255,0.07);border-top:none;\">\n    <table style=\"width:100%;font-size:14px;border-collapse:collapse;\">\n      <tr><td style=\"color:#5C5D5B;padding:6px 0;width:140px;\">Interested in</td><td style=\"color:#F0F0EE;\">{{ $json.interest }}</td></tr>\n      <tr><td style=\"color:#5C5D5B;padding:6px 0;\">Budget</td><td style=\"color:#F0F0EE;\">{{ $json.budget }}</td></tr>\n      <tr><td style=\"color:#5C5D5B;padding:6px 0;\">Submitted</td><td style=\"color:#F0F0EE;\">{{ $json.submitted_at }}</td></tr>\n    </table>\n    <div style=\"margin-top:16px;padding:14px;background:#0B0C0E;border-left:3px solid #00E5A0;border-radius:0 4px 4px 0;\">\n      <p style=\"color:#9A9B99;font-size:12px;margin:0 0 6px;text-transform:uppercase;letter-spacing:0.08em;\">Message</p>\n      <p style=\"color:#F0F0EE;margin:0;font-size:14px;line-height:1.7;\">{{ $json.message }}</p>\n    </div>\n    <div style=\"margin-top:20px;\">\n      <a href=\"mailto:{{ $json.email }}?subject=Re: {{ $json.interest }}\" style=\"display:inline-block;background:#00E5A0;color:#0B0C0E;padding:10px 20px;border-radius:6px;font-size:14px;font-weight:600;text-decoration:none;\">Reply to {{ $json.name }} ↗</a>\n    </div>\n  </div>\n  <p style=\"color:#5C5D5B;font-size:11px;text-align:center;margin-top:12px;\">Generated by Shinar Automation · Lead Gen Agent</p>\n</div>",
        "options": {}
      },
      "id": "node-notify-me",
      "name": "Notify Muhammed (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Got your message, {{ $json.name }} — I'll be in touch",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:520px;margin:0 auto;\">\n  <div style=\"background:#0d1117;padding:20px 24px;border-radius:8px 8px 0 0;\">\n    <p style=\"color:#00E5A0;font-size:12px;letter-spacing:0.1em;text-transform:uppercase;margin:0;\">Shinar Automation</p>\n    <h2 style=\"color:#F0F0EE;margin:8px 0 0;font-size:20px;\">Thanks, {{ $json.name }}.</h2>\n  </div>\n  <div style=\"background:#14161A;padding:20px 24px;border-radius:0 0 8px 8px;border:1px solid rgba(255,255,255,0.07);border-top:none;\">\n    <p style=\"color:#9A9B99;font-size:14px;line-height:1.8;\">Your message came through. I've noted your interest in <strong style=\"color:#F0F0EE;\">{{ $json.interest }}</strong> and will get back to you within <strong style=\"color:#F0F0EE;\">24 hours</strong>.</p>\n    <p style=\"color:#9A9B99;font-size:14px;line-height:1.8;\">In the meantime, feel free to explore my projects on GitHub or connect on LinkedIn.</p>\n    <div style=\"margin-top:20px;display:flex;gap:10px;\">\n      <a href=\"https://github.com/Adeshina6/Shinar-Automation-Projects\" style=\"display:inline-block;background:#00E5A0;color:#0B0C0E;padding:10px 18px;border-radius:6px;font-size:13px;font-weight:600;text-decoration:none;\">GitHub ↗</a>\n      <a href=\"https://linkedin.com/in/muhammed-adetunji-abiodun\" style=\"display:inline-block;background:transparent;color:#00E5A0;padding:10px 18px;border-radius:6px;font-size:13px;font-weight:600;text-decoration:none;border:1px solid rgba(0,229,160,0.4);\">LinkedIn ↗</a>\n    </div>\n  </div>\n  <p style=\"color:#5C5D5B;font-size:11px;text-align:center;margin-top:12px;\">Muhammed Adetunji · Automation & AI Workflow Engineer · Nigeria (Remote-ready)</p>\n</div>",
        "options": {}
      },
      "id": "node-autorespond",
      "name": "Auto-respond to Lead (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Leads",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted At":  "={{ $json.submitted_at }}",
            "Name":          "={{ $json.name }}",
            "Email":         "={{ $json.email }}",
            "Company":       "={{ $json.company }}",
            "Interest":      "={{ $json.interest }}",
            "Budget":        "={{ $json.budget }}",
            "Message":       "={{ $json.message }}",
            "Source":        "={{ $json.source }}",
            "Status":        "New"
          }
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "html",
        "html": "<!DOCTYPE html><html><head><meta charset='UTF-8'/><style>body{background:#0B0C0E;font-family:sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;}div{text-align:center;padding:40px;}h2{color:#00E5A0;font-size:24px;margin-bottom:12px;}p{color:#9A9B99;font-size:15px;line-height:1.7;}</style></head><body><div><h2>Message received.</h2><p>Thanks for reaching out. I'll get back to you within 24 hours.<br/>Check your inbox for a confirmation.</p></div></body></html>",
        "options": {}
      },
      "id": "node-respond",
      "name": "Show Thank You Page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "On Form Submission": {
      "main": [[{ "node": "Format Lead Data", "type": "main", "index": 0 }]]
    },
    "Format Lead Data": {
      "main": [[
        { "node": "Notify Muhammed (Gmail)",    "type": "main", "index": 0 },
        { "node": "Auto-respond to Lead (Gmail)", "type": "main", "index": 0 },
        { "node": "Log to Google Sheets",        "type": "main", "index": 0 }
      ]]
    },
    "Notify Muhammed (Gmail)":     { "main": [[{ "node": "Show Thank You Page", "type": "main", "index": 0 }]] },
    "Auto-respond to Lead (Gmail)": { "main": [[{ "node": "Show Thank You Page", "type": "main", "index": 0 }]] },
    "Log to Google Sheets":        { "main": [[{ "node": "Show Thank You Page", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["lead-gen", "portfolio", "shinar-automation"],
  "triggerCount": 1,
  "updatedAt": "2026-05-09T00:00:00.000Z",
  "versionId": "1"
}
